@model IEnumerable<HopestoneApp.Models.Product>

@{
    ViewData["Title"] = "HOPESTONE CONSTRUCTION SERVICES | The Poineer of Construction Innovation";
}

<!--
    Note:
        Please implement multiple model for the modal purposes.

-->

<style>
    .blog {
        padding-top: 6.25rem;
        width: 100%;
        min-height: 100vh;
    }

    .footer {
        height: max-content;
        background-image: linear-gradient( to left bottom, white, aqua, gray);
        border-top: 2px solid var(--clr-aqua-90);
        box-shadow: 0 0 6px var(--clr-aqua-100);
        position: fixed;
        bottom: 0;
        z-index: 35;
    }

        .footer #footerLogoSm {
            box-shadow: 0 0 6px var(--clr-white-100);
        }
</style>

<nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-aqua fixed-top" aria-label="Hopestone Navigation">
    <div class="container-fluid">
        <button id="navBtn" class="navbar-toggler collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#hopestoneNav" aria-controls="hopestoneNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler px-2">
                <i id="hamburger" class="fas fa-bars" role="img" aria-label="Toggler"></i>
            </span>
        </button>

        <div class="navbar-collapse justify-content-md-center collapse" id="hopestoneNav" style="">
            <ul class="navbar-nav">
                <li class="nav-item align-self-center align-self-md-auto">
                    <a class="nav-link active" aria-current="page" href="#">
                        <img src="~/asset/images/brand.svg" alt="Hopestone Brand Icon" />
                    </a>
                </li>
                <li class="nav-item">
                    <div class="input-group">
                        <span id="navInputText" class="input-group-text d-md-none"><i class="fas fa-home fa-lg"></i></span>
                        <a class="nav-link" href="#">Home</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="input-group">
                        <span id="navInputText" class="input-group-text d-md-none"><i class="fas fa-cubes fa-lg"></i></span>
                        <a class="nav-link" href="#booking">Portfolio</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <div class="input-group">
                        <span id="navInputText" class="input-group-text d-md-none"><i class="fas fa-shopping-cart fa-lg"></i></span>
                        <a class="nav-link dropdown-toggle d-flex align-items-center" type="button" href="#" id="serviceDropdown" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
                        <ul class="dropdown-menu bg-aqua" aria-labelledby="serviceDropdown">
                            @if (Model.Count() > 0)
                            {
                                @foreach (var product in Model)
                                {
                                    <li><a class="dropdown-item" href="#">@product.Title</a></li>
                                }
                            }
                            else
                            {
                                <li>No Service...</li>
                            }
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#service">Service Section</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="input-group">
                        <span id="navInputText" class="input-group-text d-md-none"><i class="fas fa-blog fa-lg"></i></span>
                        <a class="nav-link" href="#blog">Blog</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="input-group">
                        <span id="navInputText" class="input-group-text d-md-none"><i class="fas fa-user-astronaut fa-lg"></i></span>
                        <a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-link d-md-none">Account</a>
                    </div>
                </li>
            </ul>
            <div class="account mx-2">
                <a asp-area="" asp-controller="Admin" asp-action="Index" class="btn text-white d-none d-md-block">
                    <i class="fas fa-user-shield fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</nav>

<section id="hero" class="hero">
    <img id="light" class="d-none d-sm-block" src="~/asset/images/light.png" alt="Hero Background Right" />
    <img id="sofa" class="d-none d-sm-block" src="~/asset/images/sofa.png" alt="Hero Background Left" />

    <div id="heroContainer" class="container-fluid container-l d-flex flex-column">
        <!--Hero Card-->
        <h2 id="constructionTitle" class="display-5 fw-bold pt-0">Construction</h2>
        <h1 id="serviceTitle" class="display-3 fw-bold">SERVICES</h1>

        <div class="container d-none d-lg-flex shadow-lg rounded pt-2" style="position: absolute; top: 50%; left:7%;">
            @if (Model.Count() > 0)
            {

                @foreach (var product in Model)
                {
                    <div class="w-100 d-flex justify-content-evenly align-items-center flex-column" style="height: max-content">
                        <img src="~/asset/icons/@product.Icon" alt="" style="height: 3.125rem; width: 3.125rem;" />
                        <h5 class="text-white">@product.Title</h5>
                    </div>
                }
            }
            else
            {
                <p>Nothing to display</p>
            }
        </div>
        <a id="ctaBtn" class="btn align-self-center fw-bold w-md-25" href="#">Let's Talk</a>
    </div>
    <div class="hero-footer w-100 d-flex justify-content-center">
        <div class="row w-100 d-flex flex-column flex-md-row justify-content-center align-items-center">

            <div class="accordion col-md-4" id="phoneAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Contact Number
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#phoneAccordion">
                        <div class="accordion-body">
                            <p class="mb-0">09167422772</p>
                            <p class="mb-0">09504061511</p>
                            <p class="mb-0">034 700 6839</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion col-md-4" id="emailaAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Email Address
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#emailaAccordion">
                        <div class="accordion-body">
                            <p><a href="mailTo:hopestoneconstruction@gmail.com" style="word-wrap:break-word;text-decoration: none; color: black">hopestoneconstruction@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion col-md-4" id="locationAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Location
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#locationAccordion">
                        <div class="accordion-body">
                            <p><a href="https://goo.gl/maps/1ypSJeZtk2NZoVfL7" style="text-decoration: none; color: black">B49 L4 RPHS Brgy Alijis Bacolod City PH 6100</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="booking" class="booking w-100 bg-gray-60" style="height: 100vh; padding-top: 4.375rem">
    <div class="container-fluid container-lg">
        <h4 class="">About Us</h4>
    </div>
</section>

<section id="service" class="service">
    <div class="container-fluid container-lg">
        <div class="service-header">
            <h1 class="display-5 fw-bold text-md-start text-center text-aqua" style="text-shadow: 4px 4px 2px var(--clr-gray-100)">
                Services Offered
            </h1>
        </div>
        <div class="service-content shadow-lg h-100 w-100 p-4 bg-light">
            <div class="row d-flex justify-content-center justify-content-md-evenly align-items-center">

                <!--Services-->
                @if (Model.Count() > 0)
                {

                    @foreach (var product in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12  p-1" style="height: 250px;">
                            <div id="serviceBoxContainer" class="box bg-aqua w-100 h-100 rounded overflow-hidden bg-dark position-relative">

                                <!--Overlay-->

                                <div class="serviceBoxOverlay" id="serviceBoxOverlay_@product.Id" style="display:flex;flex-direction:column; align-items:center;justify-content:center">

                                    <div class="overlay-header w-100 d-flex p-2 h-25">
                                        <button id="@product.Id" type="button" class="btn-close" area-label="Close" onclick="hideOverlay(this.id)"></button>
                                        <div class="row w-100">
                                            <h4 class="text-gray fw-bold" style="text-transform:capitalize">@product.Title</h4>
                                        </div>
                                    </div>

                                    <div class="row px-2 py-4 h-75 w-100 d-flex justify-content-center overflow-hidden">
                                        <div class="lead fw-normal text-white bg-gray-60 py-2 py-md-2 px-1" style="overflow-y: auto; max-height: 10rem">@product.Description</div>
                                    </div>
                                </div>

                                <!--Service Display-->
                                <img class="opacity-50" src="~/asset/images/@product.Image" alt="@product.Title" style="height:100%; width: 100%" loading="lazy" />
                                <div class="box-content">
                                    <div class="row d-flex h-100">
                                        <div class="col-md-4">
                                            <ul id="serviceList" class="h-100 d-flex flex-column justify-content-md-between justify-content-evenly align-items-center ps-0 py-md-5 py-2">
                                                <li onclick="showOverlay(this.id)" id="@product.Id" class="p-2 bg-white rounded-3" style="cursor:pointer;height: max-content; box-shadow: inset 0 0 6px var(--clr-gray-100)"
                                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Click me to show details">
                                                    <img class="serviceIcon" src="~/asset/icons/@product.Icon" alt="" style="height: 3.125rem; width: 3.125rem;" loading="lazy" />
                                                </li>
                                                <li class="p-2 rounded-3 d-flex justify-content-center">
                                                    <a type="button" id="@product.Id" href="" class="ctaService" data-bs-toggle="modal" data-bs-target="#serviceModal" onclick="getServiceTitle(this.id)">
                                                        <i class="fas fa-share-square fa-3x"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8 d-flex justify-content-around align-items-center">
                                            <h4 id="service_@product.Id" class="service-title fw-bold" style="text-transform:capitalize; word-break: break-word; text-shadow:4px 4px 2px var(--clr-black-100)">@product.Title</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h4>Nothing to display</h4>
                }
            </div>
        </div>
    </div>
</section>
<section id="blog" class="blog">
    <div class="container-fluid container-lg">
        <h1 class="display-3">Blog Section</h1>
        <h1 class="display-1">Blog Section</h1>
    </div>
</section>

<section class="footer stiky-bottom w-100">
    <div class="container-fluid container-xl d-flex align-items-center flex-column flex-md-row pt-md-3">
        <p class="lead fw-bold text-white">HOPESTONE CONSTRUCTION SERVICE</p>
        <p class="text-gray mx-md-2 mx-lg-4 mx-xl-5 text-end">&copy; 2021 All right reserved.</p>
        <img id="footerLogoSm" class="d-md-none p-1 bg-white rounded border-2 mb-2" src="~/favicon.ico" alt="Icon" loading="lazy" style="height: 64px; width: 64px;" />
    </div>
</section>

<!--Service Inquiry Modal-->
<div class="modal fade" id="serviceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold text-aqua" id="serviceModalLabel">Service Inquiry Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Service Inquiry Form-->
                <form class="needs-validation" novalidate>
                    <div class="mb-2">
                        <h4 id="serviceForm_Modal" class="text-center text-aqua"></h4>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="firstName" placeholder="..." required minlength="3" data-bs-toggle="tooltip" data-bs-placement="top" title="First name must not less than 3 letters.">
                                <label for="firstName">First name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="lastName" placeholder="..." required minlength="3" data-bs-toggle="tooltip" data-bs-placement="top" title="Last name must not less than 3 letters.">
                                <label for="lastName">Last name</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating mb-1">
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="..." required data-bs-toggle="tooltip" data-bs-placement="top" title="Email must include &#64; and ends with &acute;.com&acute;">
                            <label for="email" class="form-label">Email address</label>
                        </div>
                        <div id="emailHelp" class="form-text mb-2">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control" id="contact" aria-describedby="contactHelp" placeholder="..." required minlength="8" data-bs-toggle="tooltip" data-bs-placement="top" title="Number must not less than 8 characters.">
                            <label for="contact" class="form-label">Contact Number</label>
                        </div>
                        <div id="contactHelp" class="form-text mb-2">Please include area code e.g 034 or 02 for Landlines.</div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating mb-1">
                            <textarea class="form-control" placeholder="..." id="message" aria-describedby="messageHelp" required minlength="10" data-bs-toggle="tooltip" data-bs-placement="top" title="Message must not less than 10 letters including spaces."></textarea>
                            <label for="message">Message</label>
                        </div>
                        <div id="messageHelp" class="form-text mb-2">Please provide a brief details of your inquiry.</div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Send</button>
                </form>
            </div>
            <div class="modal-footer">
                <p class="lead">Hopestone Construction Services &copy; 2021</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    @*Intersection Observer*@
    var hero = document.querySelector("#hero");
    var nav = document.querySelector("#navbar");

    var navOptions = {
        rootMargin: "-10px 0px 0px 0px",
    };

    const navObserver = new IntersectionObserver(function (entries, navObserver) {
        entries.forEach((entry) => {
            if (!entry.isIntersecting) {

                nav.classList.add("nav-scrolled");
            }
            else {
                nav.classList.remove("nav-scrolled");
            }
        }
        );
    }, navOptions);

    navObserver.observe(hero);

    var service = document.querySelector("#service");
    var footer = document.querySelector(".footer");

    const footerObserver = new IntersectionObserver(function (entries, footerObserver) {
        entries.forEach((entry) => {
            if (!entry.isIntersecting) {
                footer.style.position = "relative";
            }
            else {
                footer.style.position = "fixed";

            }
        }
        );
    }, navOptions);

    footerObserver.observe(hero);
</script>